.header {
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    border: 2px solid #111;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .container {
    display: flex;
    height: 72px;
    align-items: center;

    @media screen and (max-width: 767px) {
        height: 64px;
    }
}

.header__logo {
    width: 109px;
    height: 28px;
    margin-right: 76px;

    @media screen and (max-width: 1079px) {
        margin-right: 40px;
    }

    @media screen and (max-width: 767px) {
        margin-right: auto;
    }
}

.header__nav-list {
    display: flex;
    height: 34px;
    display: inline-flex;
    align-items: center;
    gap: 24px;

    @media screen and (max-width: 1079px) {
        gap: 16px;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header__nav-item {
    align-items: center;
    display: flex;
}

.active-nav-item {
    border-radius: 36px;
    background: #EAC645;
    padding: 8px 16px;
}

.header__nav-link {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #111111;
}

.active-nav-link {
    font-weight: 700;
}

.header__nav-icon {
    width: 20px;
    height: 20px;
    stroke: #111111;
    fill: #111111;
}

.header__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 24px;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        margin-right: 14px;
    }
}

.header__switch-input {
    display: none;
}

.header__switch-input:checked+.header__slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
    background-color: #f7f7f7;
}

.header__switch-input:checked+.header__slider {
    background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.header__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    flex-shrink: 0;
}

.header__slider::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-position: center;
    background-size: cover;
}

.header__round {
    border-radius: 34px;
}

.header__round:before {
    border-radius: 50%;
}

.header__account-div {
    background-color: #4f2ee8;
    display: flex;
    width: 184px;
    height: 45px;
    border-radius: 36px;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header__account-avatar-div {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__account-avatar {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    fill: #4f2ee8;
}

.header__account-name {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    color: #ffffff;
    margin-left: 9px;
    margin-right: 4px;
}

.header__account-button {
    background: none;
    border: none;
    fill: #ffffff;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__account-icon {
    width: 23px;
    height: 26px;
    flex-shrink: 0;
}

.header__menu-button {
    display: none;

    @media screen and (max-width: 767px) {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header__menu-icon {
    display: none;

    @media screen and (max-width: 767px) {
        width: 28px;
        height: 28px;
        display: block;
        stroke: #111111;
    }
}

.header__open-button {
    flex-shrink: 0;
    border-radius: 18px;
    border: 2px solid #111;
    background: #4f2ee8;
    color: #ffffff;
    display: flex;
    width: 184px;
    height: 48px;
    align-items: center;
    padding: 0px 14px;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header__arrow-icon {
    width: 13px;
    height: 10px;
    stroke: #eac645;
}

.header__exit-button {
    border-radius: 18px;
    border: 1.5px solid #111;
    background-color: #FFF;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    padding: 14px;
    position: absolute;
    bottom: 0px;
    transform: translate(0%, 100%);
    right: 0;
    left: 0;
    white-space: nowrap;
}

.header__exit-icon {
    margin-left: 90px;
    width: 20px;
    height: 20px;
}