// * {
//     transition: all 500ms linear 250ms;
// }

.magazine__button:hover {
    background-color: #4F2EE8;
    color: #fff;
}

.magazine__button:focus {
    background-color: #4F2EE8;
    color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

// .support__scroll-button:hover {
//     background-color: #4F2EE8;
// }
// .support__scroll-button:focus {
//     background-color: #4F2EE8;
// }

// .support__scroll-icon:hover {
//     fill: #fff;
// }

// .support__scroll-icon:focus {
//     fill: #fff;
// }

.category__span:hover {
    color: #4F2EE8;
}

.category__span:focus {
    color: #4F2EE8;
}


.magazine__img:hover {
    transform: scale(1.05);
}

.magazine__img:focus {
    transform: scale(1.05);
}

.login-modal__type-button:hover {
    color: #4F2EE8;
}